<mat-card class="my-card">
    <mat-card-content>
        <h1>User Registration</h1>
    </mat-card-content>

    <form (ngSubmit)="onSubmit(registerForm.value)" [formGroup]="registerForm">

        <mat-card-content>
            <mat-form-field appearance="legacy" class="full-width">
                <input matInput type="text" placeholder="First Name"
                       formControlName="firstName" id="firstName"
                       [(ngModel)]="user.firstName"
                       required>
                <mat-error *ngIf="hasError('firstName', 'required')">Name is
                    required
                </mat-error>
                <mat-error *ngIf="hasError('firstName', 'maxlength')">You
                    have more
                    than 60 characters
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="full-width">
                <input matInput type="text" placeholder="SurName"
                       formControlName="lastName" id="lastName"
                       [(ngModel)]="user.lastName"
                       required>
                <mat-error *ngIf="hasError('lastName', 'required')">Name is
                    required
                </mat-error>
                <mat-error *ngIf="hasError('lastName', 'maxlength')">You have more
                    than 60 characters
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="full-width">
                <input matInput type="email" placeholder="Email"
                       formControlName="emailAddress" id="emailAddress"
                       [(ngModel)]="user.emailAddress"
                       required>
                <mat-error *ngIf="hasError('emailAddress', 'required')">Email is
                    required
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="legacy" class="full-width">
                <input matInput type="password"
                       placeholder="New password"
                       formControlName="password" id="password"
                       [type]="hide ?
      'password' : 'text'"
                       [(ngModel)]="user.password"
                       required>
                <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">{{hide ? 'visibility_off' :
                    'visibility'}}</mat-icon>
                <mat-error *ngIf="hasError('password', 'required')">Password is
                    required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="full-width">
                <input matInput type="password"
                       placeholder="Confirm password"
                       formControlName="confirmPassword" id="confirmpassword"
                       [errorStateMatcher]="passwordsMatcher"
                       [type]="hide ?
      'password' : 'text'"
                       [(ngModel)]="user.confirmPassword"
                       required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="hasError('confirmPassword', 'required')">Password is
                    required
                </mat-error>
                <mat-error *ngIf="registerForm.hasError('passwordsNotEqual')">
                    Passwords do not match!
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="legacy"
                            style="align-content: center; padding-left: 25px;">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                       formControlName="dob" id="dob"
                       [(ngModel)]="user.dob"
                       required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                <mat-error *ngIf="hasError('dob', 'required')">DOB is
                    required
                </mat-error>
            </mat-form-field>


            <div fxLayout="row">
                <mat-form-field appearance="legacy"
                                style="padding-left: 25px; width: 100px;">
                    <mat-label>Code</mat-label>
                    <mat-select [(value)]="ipCountry"
                                formControlName="areaCode" id="areaCode"
                                [(ngModel)]="user.areaCode" required>


                        <mat-option value='US'>
                            <span
                                    class="flag-icon flag-icon-us flag-icon-squared"
                                    style="padding-right: 30px;"></span>+1
                        </mat-option>

                        <mat-option value='INDIA'>
                            <span
                                    class="flag-icon flag-icon-in flag-icon-squared"
                                    style="padding-right: 30px;"></span>+91
                        </mat-option>

                    </mat-select>
                </mat-form-field>


                <mat-form-field appearance="legacy"
                                style=" padding-left: 15px;
                             width: 200px">
                    <input matInput type="text"
                           placeholder="Enter your phoneNumber"
                           formControlName="phoneNumber" id="phoneNumber"
                           maxlength="10"
                           [(ngModel)]="user.phoneNumber"
                           required>
                    <mat-error *ngIf="hasError('phoneNumber', 'required')">Phone
                        number is
                        required
                    </mat-error>
                </mat-form-field>


            </div>

            <mat-card-actions>

                <button mat-raised-button type="submit" color="primary"
                        [disabled]=" registerForm.valid">Submit
                </button>
            </mat-card-actions>
        </mat-card-content>
    </form>

</mat-card>







