<mat-card class="my-card">
  <mat-card-content>
    <h2>Please click activation link sent to your email address</h2>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button  (click)="openDialog()"
            color="primary">Next</button>
  </mat-card-actions>

</mat-card>
