

<form class="example-form" [formGroup]="userAddressValidations">
  <mat-form-field appearance="legacy" class="col-sm-6" style="align-content: center; padding-left: 25px;">
    <mat-label>10-digit Mobile Number</mat-label>
    <input matInput formControlName="mobileNumber" maxlength="10" (keypress)=_keyPress($event)>
    <mat-error *ngIf="userAddressValidations.get('mobileNumber').hasError('required')">
      Please fill out this field.
    </mat-error>
    <mat-error *ngIf="userAddressValidations.get('mobileNumber').hasError('pattern')">
      It is not a valid mobile number.
    </mat-error>
  </mat-form-field>

</form>
