
<mat-card class="my-card">
  <mat-card-content>
    <h2>Please confirm code send to your mobile phone</h2>
  </mat-card-content>

<form class="spacer" [formGroup]="phoneForm">

  <mat-form-field appearance="outline">
    <input matInput type="text" maxlength="1"
           (input)="onInputEntry($event,'tab2',null)"
    formControlName="firstRow" id="tab1" [(ngModel)]="inputOne" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput type="text" maxlength="1" id="tab2"
           (input)="onInputEntry($event,'tab3','tab1')"
           formControlName="secondRow" [(ngModel)]="inputTwo" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput type="text"maxlength="1" id="tab3"
           (input)="onInputEntry($event,'tab4','tab2')"
           formControlName="thirdRow"[(ngModel)]="inputThree" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput type="text"maxlength="1" id="tab4"
           (input)="onInputEntry($event,'tab5','tab3')"
           formControlName="fourthRow" [(ngModel)]="inputFour" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput type="text"maxlength="1" id="tab5"
           (input)="onInputEntry($event,'tab6','tab4')"
           formControlName="fivRow" [(ngModel)]="inputFive" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput type="text"maxlength="1" id="tab6"
           (input)="onInputEntry($event,null,'tab5')"
           formControlName="sixthRow" [(ngModel)]="inputSix" required>
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button
            color="primary" (click)="onSubmit()"
            [disabled]="!phoneForm.valid">Submit</button>
    <button mat-raised-button
            color="primary">Resend</button>
  </mat-card-actions>
  <p>Your Temporary phone code:"111111"</p>
  </form>



</mat-card>
