.mat-card {

    width: 400px;
    height: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
    padding-top: 50px;
    margin-top: 100px;

}


h2 {
    color: darkslateblue;
    text-align: center;
    line-height: 35px;
}


.mat-raised-button {
    text-align: center;
    width: 100px;
    margin: 10px;


}

.mat-card-actions {
    text-align: center;
}

.spacer {
    text-align: center;
}

.mat-form-field {
    text-align: center;
    width: 50px;
    padding-left: 10px;
}

p {
    color: gray;
}
